@import 'fonts.css';

*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--RR400--);
}

:root {
    --RR400--: 'Roboto-Regular'
}

.link{
    letter-spacing: 1.4px;
    color: #000;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__nav{
    padding: 25px 0;
}

.header__nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list{
    display: flex;
    gap: 25px;
}

.header__nav-link{
    font-size: 13px;
    color: #000;
    letter-spacing: 1.5px;
}

.header__nav-cartLink{
    color: #000;
    letter-spacing: 1.5px;
    font-size: 14px;
}

.header__content{
    background: url(../images/header__bg.png) no-repeat center center /cover;
    flex-grow: 1;
}

.header__content-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.header__content-text{
    margin: 12px 0 28px 0;
}

.header__content-title{
    font-size: 43px;
    color: #fff;
}

.header__content-text{
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
}

.header__content-btn{
    background-color: inherit;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.4px;
    border: none;
}

.main{
    display: flex;
    flex-direction: column;
}

.main__desks-content{
    display: flex;
    flex-direction: column;
    padding: 80px 0 120px 0;
    gap: 80px;
}

.main__desks-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.main__desks-title{
    font-size: 43px;
    color: #000;
}

.main__desks-text{
    font-size: 14px;
    color: #A0A0A0;
    letter-spacing: 1px;
}



.main__desks-about{
    display: flex;
    gap: 25px;
}

.main__desk-item{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.main__desk-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.main__desk-item img{
    width: 100%;
}

.main__desk-infoTitle{
    font-size: 27px;
    color: #000;
}

.main__devices{
    padding-bottom: 100px;
}

.main__devices-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.main__devices-icon{
    display: flex;
    gap: 16px;
    margin: 40px 0 20px 0;
    justify-content: center
}

.main__devices-point{
    width: 7px;
    height: 7px;
    background-color: #000;
}

.main__devices-block{
    display: flex;
    gap: 25px;
    width: 100%;
}

.main__devices-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 23.4%;
}

.main__devices-productTitle{
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
}

.main__devices-productSpan{
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
}

.main__office{
    flex-grow: 1;
    background: url(../images/office_bg.png) no-repeat center center /cover;
}

.main__office-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__office-title{
    font-size: 66px;
    color: #fff;
}

.main__office-text{
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.8px;
    margin: 15px 0 30px 0;
}

.main__office-link{
    letter-spacing: 1.4px;
    color: #fff;
}

.main__way{
    padding: 120px 0 40px 0;
}

.main__way-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.main__way-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
}

.main__way-title{
    font-size: 34px;
    color: #000;
}

.main__way-text{
    max-width: 777px;
    width: 100%;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.main__workers-content{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main__workers-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    align-items: center;
}

.main__workers-title{
    font-size: 34px;
    color: #000;
}

.main__workers-text{
    width: 80%;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.main__workers-images{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.main__workers-images img{
    width: 14%;
}

.main__workers-end{
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
}

.main__workers-endTitle{
    font-size: 34px;
    color: #000;
}

.main__workers-link{
    font-size: 13px;
    letter-spacing: 1.4px;
    color: #000;
}

.main__design{
    padding: 120px 0 40px 0;
    display: flex;
    flex-direction: column;
}

.main__design-content{
    background-color: #9AA8B1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 120px 0;
}

.main__design-title{
    font-size: 43px;
    color: #fff;
}

.main__design-text{
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.footer{
    background: #F9F9F9;
    padding: 0 0 20px 0;
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.footer__content-info{
    display: flex;
    justify-content: space-between;
}

.footer__content-aboutOur{
    display: flex;
    gap: 12px;
    padding-top: 80px;
}

.footer__content-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 16%;
}

.footer__content-link{
    font-size: 22px;
    color: #000;
}

.footer__content-signUp{
    display: flex;
    flex-direction: column;
}

.footer__content-title{
    font-size: 22px;
    color: #000;
}

.footer__content-text{
    color: #A0A0A0;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.footer__content-text::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translate(-100px, 0);
}

.footer__content-signUp{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
}

.footer__content-goUp{
    padding: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 35px;
}

.footer__content-links{
    display: flex;
    justify-content: flex-end;
    gap: 35px;
}

.footer__content-privacy{
    font-size: 13px;
    letter-spacing: 0.8px;
    color: #707A7F;
    transition: .3s;
}

.footer__content-privacy:hover{
    color: #000;
}

@media (max-width: 992px) {
    .container{
        max-width: 960px;
    }
    .main__devices-item{
        width: 22.4%;
    }
    .main__way-image{
        width: 100%;
    }

    .main__way-image img{
        width: 100%;
    }

    .main__workers-images{
        justify-content: center;
    }

    .main__workers-images img{
        width: 22%;
    }

    .footer__content-list{
        width: 20%;
    }
}
@media (max-width: 768px) {
        .container{
            max-width: 720px;
        }
        .header__nav-logo img{
            width: 80%;
        }
        .header__content-title{
            font-size: 36px;
        }
        .main__desks-title{
            font-size: 36px;
        }
        .main__desks-about{
            flex-direction: column;
        }
        .main__desk-infoTitle{
            font-size: 36px;
        }
        .main__devices-block{
            flex-wrap: wrap;
            justify-content: center;
        }
        .main__devices-item{
            width: 32%;
        }
        .main__devices-productTitle{
            font-size: 16px;
        }
        .main__devices-productSpan{
            font-size: 14px;
        }
        .main__office-title{
            font-size: 46px;
        }
        .main__office-text{
            font-size: 12px;
        }
        .main__office-link{
            font-size: 14px;
        }
        .main__way-title{
            font-size: 27px;
        }
        .main__way-text{
            max-width: 665px;
            font-size: 14px;
        }
        .footer__content-goUp{
            padding: 20px;
        }
        .footer__content-link{
            font-size: 19px;
        }
        .footer__content-signUp{
            width: 49%;
        }
        .footer__content-text{
            font-size: 16px;
        }
}
@media (max-width: 576px){
    .container{
        max-width: 540px;
    }
    .main__office-title{
        font-size: 40px;
    }
    .main__way-text{
        font-size: 14px;
    }
    .footer__content-list{
        width: 30%;
    }
    .footer__content-signUp{
        width: 65%;
    }
    .footer__content-links{
        gap: 15px;
    }
    .footer__content-privacy{
        font-size: 11px;
    }
}
@media (max-width: 540px){
    .container{
        width: 90%;
    }
    .main__office-text{
        width: 50%;
        text-align: center;
    }
    .main__way-text{
        font-size: 12px;
    }
    .main__workers-title{
        font-size: 27px;
    }
    .main__workers-text{
        width: 100%;
    }
    .main__workers-images img{
        width: 21%;
    }
    .main__design-title{
        font-size: 34px;
    }
    .main__design-text{
        font-size: 12px;
    }
    .footer__content-info{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .footer__content-aboutOur{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer__content-signUp{
        text-align: center;
    }
    .footer__content-list{
        width: 100%;
        align-items: center;
    }
    .footer__content-link{
        font-size: 24px;
    }
    .footer__content-goUp{
        width: 10%;
    }
    .footer__content-links{
        flex-direction: column;
        align-items: center;
    }
}